Repository zapaza/teamwork_02: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint, format

lint:
  run: yarn eslint --fix {staged_files}

stylelint:
  run: yarn stylelint --fix {staged_files}

format:
  run: yarn prettier --write {staged_files}

fix: some names, remove comma (28-76)
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/core/validator/index.ts
  packages/client/src/entry-server.tsx
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
Due: lint, format

feat(test): test commit yaoblako
  README.md
Due: none

feat(nginx): add image nginx
  .github/workflows/build_and_push.yaml
Due: none

fix: api path
  packages/client/src/core/api/api-forum.ts
Due: lint, format

Feature: 28-82
  .gitignore
  package-lock.json
  packages/client/src/App.tsx
  packages/client/src/core/api/api-forum.ts
  yarn.lock
Due: lint, format

feat(sw): add worker
  packages/client/server/index.ts
  packages/client/src/main.tsx
  packages/client/vite.config.ts
Due: lint, format

feat(sw): fix sw
  packages/client/src/App.tsx
  packages/client/src/main.tsx
  packages/client/src/service-worker.ts
  packages/client/src/utils/serviceWorker.ts
Due: lint, format

feat: display emoji on topic page,some fixes(28-68)
  packages/client/src/components/ui/topic/topic.pcss
  packages/client/src/components/ui/topic/topic.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/pages/forum/forumPage.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
Due: lint, stylelint, format

fix: remove unnecessary files (28-68)
  packages/client/server/index.d.ts
  packages/client/server/index.js
Due: lint, format

fix(nginx): add https
  docker-compose.yml
  nginx.conf
Due: none

fix(nginx): fix config
  nginx.conf
Due: none

fix(nginx): fix config
  nginx.conf
  packages/client/nginx.conf
Due: none

fix: initial value and gitignore (28-68)
  .gitignore
  packages/client/src/store/forum/forumSlice.ts
Due: lint, format

fix: styles
  packages/client/src/store/forum/forumSlice.ts
Due: lint, format

feat(responsive): add responsive styles
  packages/client/src/components/game/endGameState/endGameState.tsx
  packages/client/src/components/game/gameState/gameState.pcss
  packages/client/src/components/game/startGameState/startGameState.pcss
  packages/client/src/components/header/header.pcss
  packages/client/src/components/header/header.tsx
  packages/client/src/components/modal/modal.pcss
  packages/client/src/components/ui/create-topic-modal/create-topic-modal.pcss
  packages/client/src/components/ui/form/form.pcss
  packages/client/src/components/ui/leaderboard-field/leaderboard-field.pcss
  packages/client/src/components/ui/topic/topic.pcss
  packages/client/src/pages/forum-topic/forum-topic-page.pcss
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/pages/forum/forum-page.pcss
  packages/client/src/pages/forum/forumPage.tsx
  packages/client/src/pages/game/game-page.pcss
  packages/client/src/pages/leaderboard/leaderboard-page.pcss
  packages/client/src/pages/main/main-page.pcss
  packages/client/src/pages/main/mainPage.tsx
  packages/client/src/pages/profile/profile-page.pcss
  packages/client/src/pages/signup/signup-page.pcss
  packages/client/src/styles/helpers.pcss
Due: lint, stylelint, format

feat(responsive): add responsive styles fix lint
  packages/client/src/components/game/startGameState/startGameState.pcss
  packages/client/src/components/header/header.pcss
  packages/client/src/components/header/header.tsx
  packages/client/src/components/modal/modal.pcss
  packages/client/src/pages/forum-topic/forum-topic-page.pcss
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/pages/forum/forum-page.pcss
  packages/client/src/pages/game/game-page.pcss
  packages/client/src/pages/main/main-page.pcss
  packages/client/src/pages/main/mainPage.tsx
  packages/client/src/pages/profile/profile-page.pcss
Due: lint, stylelint, format

fix(topic): add new rules for forms topicks
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/core/validator/index.ts
Due: lint, format

feat(presentation): add presentation
  packages/client/package.json
  packages/client/presentation.mdx
  packages/client/public/images/presaStudents.jpg
  yarn.lock
Due: none

fix(topic-page): add padding-top
  packages/client/src/pages/forum-topic/forum-topic-page.pcss
Due: stylelint, format

fix(validation): fix validation topicts
  packages/client/src/core/validator/index.ts
Due: lint, format

fix: fix loading reactions
  packages/client/src/pages/forum/forumPage.tsx
Due: lint, format

fix(typo): fix typo
  packages/client/presentation.mdx
Due: none

fix(forum): fix forum styles
  packages/client/src/components/ui/topic/topic.pcss
  packages/client/src/pages/forum/forum-page.pcss
Due: stylelint, format

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.{pcss,css}
  format: any of: *.{ts,tsx,pcss,css}
