Repository zapaza/teamwork_02: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint, format

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint --fix {staged_files}
    stylelint:
      glob: '*.{pcss,css}'
      run: yarn stylelint --fix {staged_files}
    format:
      glob: '*.{ts,tsx,pcss,css}'
      run: yarn prettier --write {staged_files}

commit-msg:
  parallel: true
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-push:
  parallel: true
  commands:
    test:
      run: yarn test

fix: styles
  packages/client/src/pages/leaderboard/leaderboardPage.tsx
Due: lint, format

fix: modal window translations (28-58)
  packages/client/src/components/modal/update-avatar-modal/updateAvatarModal.tsx
  packages/client/src/components/modal/update-password-modal/updatePasswordModal.tsx
  packages/client/src/components/modal/update-profile-modal/updateProfileModal.tsx
  packages/client/src/pages/profile/profilePage.tsx
Due: lint, format

Add oauth
  package-lock.json
  packages/client/src/assets/yandex-oauth.svg
  packages/client/src/components/ui/oauth/oauth.pcss
  packages/client/src/components/ui/oauth/oauth.tsx
  packages/client/src/core/api/api-oauth.ts
  packages/client/src/hooks/use-auth.tsx
  packages/client/src/pages/login/loginPage.tsx
  packages/client/src/store/auth/auth-slice.ts
  yarn.lock
Due: lint, stylelint, format

fix(game): fix reload after start
  packages/client/src/components/game/gameState/gameState.tsx
Due: lint, format

fix(game): some refactor
  packages/client/src/components/game/gameState/gameState.tsx
Due: lint, format

fix(fullscreen): make fullscreen for all game state
  packages/client/src/components/game/gameState/gameState.pcss
  packages/client/src/components/game/gameState/gameState.tsx
  packages/client/src/pages/game/gamePage.tsx
Due: lint, stylelint, format

fix(fullscreen): make fullscreen for all game state
  packages/client/src/components/game/gameState/gameState.tsx
  packages/client/src/pages/game/gamePage.tsx
Due: lint, format

Fix (28-61): rewrite some logic with redirect_uri
  packages/client/src/components/ui/oauth/oauth.pcss
  packages/client/src/components/ui/oauth/oauth.tsx
  packages/client/src/core/api/api-oauth.ts
  packages/client/src/hooks/use-auth.tsx
  packages/client/src/pages/login/loginPage.tsx
  packages/client/src/store/auth/auth-slice.ts
  packages/client/src/utils/get-origin.ts
Due: lint, stylelint, format

feat(swagger): add swagger
  swagger/openapi.json
Due: none

fix(swagger): fix /topic get
  swagger/openapi.json
Due: none

fix(swagger): add pagination
  swagger/openapi.json
Due: none

fix(swagger): add author schema
  swagger/openapi.json
Due: none

fix(swagger): fix posts req
  swagger/openapi.json
Due: none

feat: add slice, start api-forum
  packages/client/src/core/api/api-forum.ts
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
Due: lint, format

feat: add slice, start api-forum (28-72)
  packages/client/src/core/api/api-forum.ts
  packages/client/src/store/forum/forumSlice.ts
Due: lint, format

feat: add types, get data on forum page(28-72)
  packages/client/src/core/api/api-forum.ts
  packages/client/src/pages/forum/forumPage.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
  packages/client/src/store/index.ts
Due: lint, format

feat(docker): add docker (server, client pg, pg-admin) (feature/28-65)
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.prod.json
Due: lint, format

feat: add-store-ssr
  packages/client/index.html
  packages/client/src/client.d.ts
  packages/client/src/store/index.ts
  packages/client/ssr.tsx
  packages/server/index.ts
Due: lint, format

feat(docker): fix assets path
  packages/server/index.ts
Due: lint, format

feat: send new topic data to backend (28-73)
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/components/ui/topic/topic.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/pages/forum/forumPage.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
Due: lint, format

fix: fix let and const setupStore
  packages/server/index.ts
Due: lint, format

fix(docker): fix docker and i18n
  docker-compose.yml
  packages/client/public/locales/en/translation.json
  packages/client/public/locales/ru/translation.json
  packages/client/src/i18n.ts
  packages/client/src/locales/en/en.ts
  packages/client/src/locales/ru/ru.ts
  packages/client/src/main.tsx
  packages/client/ssr.config.ts
  packages/client/ssr.tsx
  packages/server/index.ts
Due: lint, format

fix(i18n): add locales files
  packages/client/src/locales/en/en.ts
  packages/client/src/locales/ru/ru.ts
Due: lint, format

feat: change topic page, add types (28-72)
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/components/ui/topic/topic.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/pages/forum/forumPage.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
  packages/client/src/store/index.ts
Due: lint, format

fix: remove console log (28-72)
  packages/client/src/components/ui/topic/topic.tsx
Due: lint, format

fix: fix dev store ssr
  packages/server/index.ts
Due: lint, format

fix(forumTopicPage): add api for topics
  packages/client/src/components/ui/comment/comment.tsx
  packages/client/src/components/ui/topic/topic.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/routes/paths.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
  swagger/openapi.json
Due: lint, format

fix(forumTopicPage): add api for topics
  packages/client/src/components/ui/topic/topic.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/store/forum/forumThunk.ts
Due: lint, format

fix(forumTopicPage): delete console
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/store/forum/forumSlice.ts
Due: lint, format

feat: add-store-ssr (#46)
  packages/client/index.html
  packages/client/src/client.d.ts
  packages/client/src/store/index.ts
  packages/client/ssr.tsx
  packages/server/index.ts
Due: lint, format

feat: add useParams, fix direct link case (28-72)
  packages/client/src/components/ui/topic/topic.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/routes/paths.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
Due: lint, format

feat: add api with reactions
  packages/server/db.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/config/database.ts
  packages/server/src/controllers/ReactionController.ts
  packages/server/src/models/Reaction.ts
  packages/server/src/routes/index.ts
  yarn.lock
Due: lint, format

Feature/28-66: develop forum api
  .DS_Store
  package-lock.json
  packages/server/db.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/config/database.ts
  packages/server/src/const.ts
  packages/server/src/controllers/comment-controller.ts
  packages/server/src/controllers/reply-controller.ts
  packages/server/src/controllers/topic-controller.ts
  packages/server/src/middlewares/check-auth.ts
  packages/server/src/models/comment-model.ts
  packages/server/src/models/index.ts
  packages/server/src/models/reply-model.ts
  packages/server/src/models/topic-model.ts
  packages/server/src/routes/index.ts
  packages/server/src/utils/remove-spec-chars.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint, format

Feature/28-66: fix params
  packages/server/src/controllers/comment-controller.ts
  packages/server/src/controllers/reply-controller.ts
  packages/server/src/controllers/topic-controller.ts
  packages/server/src/middlewares/check-auth.ts
  packages/server/src/models/comment-model.ts
  packages/server/src/models/index.ts
  packages/server/src/models/reply-model.ts
  packages/server/src/models/topic-model.ts
  packages/server/src/routes/index.ts
  packages/server/src/utils/string-to-int.ts
  testServer 2.http
Due: lint, format

Feature/28-66: fix main index
  packages/server/index.ts
  packages/server/src/middlewares/check-auth.ts
Due: lint, format

feat: add api with reactions (#50)
  packages/server/db.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/config/database.ts
  packages/server/src/controllers/ReactionController.ts
  packages/server/src/models/Reaction.ts
  packages/server/src/routes/index.ts
  yarn.lock
Due: lint, format

Delete testServer 2.http
  testServer 2.http
Due: none

Feature/28-66: fix main index 2
  packages/server/index.ts
Due: lint, format

Feature/28-66: fix router
  packages/server/src/routes/index.ts
Due: lint, format
