Repository zapaza/teamwork_02: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint, format

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint --fix {staged_files}
    stylelint:
      glob: '*.{pcss,css}'
      run: yarn stylelint --fix {staged_files}
    format:
      glob: '*.{ts,tsx,pcss,css}'
      run: yarn prettier --write {staged_files}

commit-msg:
  parallel: true
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-push:
  parallel: true
  commands:
    test:
      run: yarn test

fix(ssr): fix ssr and docker
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  package.json
  packages/client/index.html
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/src/client.d.ts
  packages/client/src/constants.tsx
  packages/client/src/core/game/eventListeners.ts
  packages/client/src/core/game/gameHooks.ts
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/game/gamePage.tsx
  packages/client/src/routes/paths.tsx
  packages/client/src/slices/ssrSlice.ts
  packages/client/src/store/index.ts
  packages/client/src/utils/gamepad.ts
  packages/client/ssr.config.ts
  packages/client/ssr.tsx
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
  packages/client/tsconfig.server.json
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.prod.json
  yarn.lock
Due: lint, format

fix(code): fix code style
  packages/client/server/index.ts
  packages/client/src/constants.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.tsx
  packages/client/src/pages/game/gamePage.tsx
  packages/client/src/slices/ssrSlice.ts
Due: lint, format

fix(jest): fix jest
  packages/client/jest.config.js
Due: none

fix(jest): fix jest 2
  packages/client/jest.config.js
Due: none

fix(jest): fix jest 3
  packages/client/jest.config.js
Due: none

feat(ssr): add redux
  packages/client/server/index.ts
  packages/client/src/App.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.tsx
  packages/client/src/hooks/use-auth.tsx
  packages/client/src/hooks/usePage.tsx
  packages/client/src/pages/error/errorPage.tsx
  packages/client/src/pages/main/mainPage.tsx
  packages/client/src/routes/paths.tsx
  packages/client/src/store/index.ts
  packages/client/src/store/ssrSlice.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
  packages/client/tsconfig.server.json
  packages/client/vite.config.ts
Due: lint, format

feat(ssr): add redux 2
  packages/client/src/entry-server.tsx
  packages/client/src/hooks/usePage.tsx
  packages/client/src/pages/main/mainPage.tsx
  packages/client/src/routes/paths.tsx
  packages/client/src/store/index.ts
  packages/client/src/store/ssrSlice.ts
Due: lint, format

feat: get topics, add new topic (28-72)
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/components/ui/input/input.tsx
  packages/client/src/components/ui/topic/topic.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/pages/forum/forumPage.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/server/src/middlewares/check-auth.ts
  packages/server/src/utils/remove-spec-chars.ts
Due: lint, format

feat: add comments (28-74)
  packages/client/src/components/ui/comment/comment.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
  packages/server/src/utils/remove-spec-chars.ts
Due: lint, format

fix: name in comments (28-74)
  packages/client/src/components/ui/comment/comment.tsx
  packages/client/src/store/forum/forumSlice.ts
Due: lint, format

fix(forumTopicPage): fix after review
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
Due: lint, format

fix(forumTopicPage): fix after review
  packages/client/src/store/forum/forumSlice.ts
Due: lint, format

feat(docker): fix docker
  .env.sample
  Dockerfile.client
  packages/client/server/index.ts
  packages/client/src/App.tsx
  packages/client/src/components/ui/form/form.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/hooks/usePage.tsx
  packages/client/src/pages/error/errorPage.tsx
  packages/client/src/pages/main/mainPage.tsx
  packages/client/src/routes/paths.tsx
  packages/client/src/slices/ssrSlice.ts
  packages/client/src/store/ssrSlice.ts
Due: lint, format

feat(docker): add package.json
  packages/client/package.json
Due: none

fix(api): fix api connect
  packages/client/src/core/api/api-forum.ts
  packages/client/src/store/index.ts
Due: lint, format

chore(nvm): update node version
  .nvmrc
Due: none

fix: fix db connection
  docker-compose.yml
  packages/server/src/config/database.ts
Due: lint, format

fix: fix db connection, eslint
  packages/server/src/config/database.ts
Due: lint, format

fix: fix jest config
  packages/client/jest.config.js
Due: none

fix: styles, add validation to forms (28-76)
  packages/client/src/components/ui/create-topic-modal/create-topic-modal.pcss
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/components/ui/oauth/oauth.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/core/api/api-leaderboard.ts
  packages/client/src/core/api/api-oauth.ts
  packages/client/src/core/api/api-profile.ts
  packages/client/src/core/validator/index.ts
  packages/client/src/pages/forum-topic/forum-topic-page.pcss
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
Due: lint, stylelint, format

fix: change api url and docker network(28-76)
  docker-compose.yml
  packages/client/src/core/api/api-forum.ts
Due: lint, format

fix: form validation (28-76)
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/core/validator/index.ts
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/pages/forum/forumPage.tsx
Due: lint, format

fix: modal close button (28-76)
  packages/client/src/assets/cross.svg
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/core/validator/index.ts
  packages/client/src/pages/forum-topic/forumTopicPage.tsx
  packages/client/src/pages/forum/forumPage.tsx
Due: lint, format

fix: styles
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
Due: lint, format

feat(nginx): add nginx config
  Dockerfile
  docker-compose.yml
  nginx.conf
  packages/client/src/core/api/api-forum.ts
Due: lint, format

feat(workflow): add build and push
  .github/workflows/build_and_push.yaml
Due: none

feat: add emoji mart (28-68)
  packages/client/package.json
  packages/client/server/index.d.ts
  packages/client/server/index.js
  packages/client/src/assets/smiley-happy-plus.svg
  packages/client/src/components/ui/topic/topic.pcss
  packages/client/src/components/ui/topic/topic.tsx
  packages/client/src/core/api/api-forum.ts
  packages/client/src/store/forum/forumSlice.ts
  packages/client/tsconfig.server.tsbuildinfo
  yarn.lock
Due: lint, stylelint, format

feat(docker): add POSTGRES_HOST
  .env.sample
Due: none

Update build_and_push.yaml
  .github/workflows/build_and_push.yaml
Due: none

fix(nginx): fix nginx
  .env.sample
  docker-compose.yml
Due: none

fix(i18n): fix i18n errors
  packages/client/src/entry-server.tsx
  packages/client/src/i18n.ts
  packages/client/src/utils/get-origin.ts
  packages/server/src/config/database.ts
Due: lint, format

fix(router): fix router error for ssr
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/main.tsx
  packages/client/src/routes/paths.tsx
  packages/client/src/routes/protected-route.tsx
Due: lint, format

fix(router): fix router error for ssr
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/entry-server.tsx
Due: lint, format

fix(review): small fix after review
  packages/client/src/entry-server.tsx
Due: lint, format

feat: add dockerignore
  .dockerignore
Due: none

fix(.env): fix .env.sample
  .env.sample
Due: none

feat: change forum api and slice (28-68)
  packages/client/src/core/api/api-forum.ts
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/forumThunk.ts
  packages/server/src/routes/index.ts
Due: lint, format

fix: styles
  packages/client/src/components/ui/create-topic-modal/createTopicModal.tsx
  packages/client/src/entry-server.tsx
Due: lint, format

fix: remove network (28-76)
  docker-compose.yml
Due: none
